@font-face {
    font-family: AllerDisplay;
    src: local('AllerDisplay'), url('./AllerDisplay.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: AllerDisplay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
